* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkblue: #001d3d;
  --blue: #003566;
  --yellow: #ffc300;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  display: grid;
  grid-template: 1fr 9fr / 1fr 5fr;
  background-color: var(--darkblue);
}
.header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  align-items: center;
}
.header .logo__text {
  color: var(--yellow);
}
.logo {
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 1rem;
}
.logo__icon {
  justify-self: center;
  width: 100px;
  filter: brightness(0) saturate(100%) invert(82%) sepia(33%) saturate(4347%)
    hue-rotate(359deg) brightness(102%) contrast(106%);
}
.logo__text {
  font-size: 1rem;
  text-align: center;
}

/* aside */
.aside {
  background: var(--darkblue);
  padding: 2rem 0 2rem 2rem;
}
.form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form h2 {
  text-align: center;
}
.form label {
  font-weight: 500;
  text-indent: 1rem;
}
.form label:nth-child(2) {
  margin-top: 2rem;
}
.form input {
  display: block;
  margin-bottom: 2rem;
  height: 2rem;
  border-radius: 2rem;
  corner-shape: squircle;
  border: 1px solid var(--blue);
  background-color: var(--darkblue);
  color: white;
  padding: 1rem;
  transition:
    transform 0.2s ease-in-out,
    border 0.1s ease-in-out;
}
.form input:hover {
  transform: translateY(-1px);
}
.form input:focus,
.form input:active {
  border: 3px solid var(--blue);
  outline: none;
}
.form input[type="submit"] {
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  padding: 0;
  background-color: var(--blue);
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
}
.form input[type="submit"]:hover {
  border: 3px solid var(--darkblue);
}
.form input[type="submit"]:active,
.form input[type="submit"]:focus {
  border: 1px solid white;
}
.books {
  display: grid;
  grid-template:
    repeat(auto-fit, minmax(250px, 350px))
    / repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin: 2rem;
}
.book__card {
  display: grid;
  background-color: rgb(214, 196, 196);
  place-content: center;
  text-align: center;
}
.book__title {
  font-size: 2rem;
}
